<div class="grid_12">

<h2 id="title">System Users</h2>

<ul id="content_nav">

  <li><%= link_to "All Users", users_path, :id => "selected", :remote => true %></li>
  
  <li><%= link_to "Unlock User", locked_users_path, :remote => true %></li>
  
  <li><%= link_to "Create User", new_user_path, :remote => true %></li>
  
  <li><%= link_to "All Roles", roles_path, :remote => true %></li>
  
  <li><%= link_to "Create Role", new_role_path, :remote => true %></li>
  
</ul>
</div>

<div class="clear"></div>

<div class="page_content grid_12">
  
<%= render :partial => 'list' %>
  
</div>

