<h2>New User</h2>

<%= form_for @user do |f| %>
  <p><%= f.label :user_name %>
  <%= f.text_field :user_name %></p>

  <p><%= f.label :email %>
  <%= f.email_field :email %></p>
  
  <p><%= f.label :admin %>
  <%= f.check_box :admin %></p>
  
  <% if not @roles.nil? and not @roles.empty? %>
  <div class="form_role">
  <%= f.label "Role"%>
  <%= f.select :role_id, options_from_collection_for_select(@roles, 'id', 'name')%>
  </div>
  <% end %>

  <p class="submit-button right"><%= f.submit "Send" %></p>
<% end %>
