<div class="page_content grid_12 info">

<h2><%= @user.full_name %></h2>

<p><span class="info_label">User Name</span><%= @user.user_name %></p>

<p><span class="info_label">First Name</span><%= @user.first_name %></p>

<p><span class="info_label">Middle Name</span><%= @user.middle_name %></p>

<p><span class="info_label">Last Name</span><%= @user.last_name %></p>

<p><span class="info_label">Email Address</span><%= @user.email %></p>

<p><span class="info_label">Role</span><%= @user.role_name %></p>

<p><span class="info_label">Birthdate</span><%= @user.birthdate %></p>

<%= link_to "Edit Profile", edit_user_path(@user) if current_user.eql?(@user) or current_user.admin %>
</div>
