
  <p><%= f.label :name %>
  <%= f.text_field :name %></p>

  <p><%= f.label :description %>
  <%= f.text_field :description %></p>
  
  <p><%= f.label :status %>
  <%=  f.select :status, options_for_status(false) %></p>

  <p><%= f.label :priority %>
  <%=  f.select :priority, options_for_priority(false) %></p>
  
  <p><%= f.label "Type" %>
  <%=  f.select :tracker, options_for_tracker(false) %></p>
  
  <% if can? [:create, :update], Tag %>
  <p><%= f.label :tag_list %>
  <%= f.text_field :tag_list %></p>
  <% end %>

  <p class="submit-button right"><%= f.submit %></p>
