<% if not @project.tickets.empty? %>

<%= form_tag search_project_tickets_path, :method => 'get', :remote=> true do %>
  <p>
  <strong>Filter Search</strong>
  <hr />
  Assigned Person: <%= select_tag :name, options_from_collection_for_select(@project.users, 'id', 'full_name'), {:include_blank => "-- User --"} %>
  Date: <%= text_field_tag :date, "", :class => "date_picker", :onClick => "remove_date()" %>
  <%=  select_tag :status, options_for_select('-- Status --' => '', 'Open' => 'Open', 'Assigned' => 'Assigned', 'In-Progress' => 'In-Progress', 'Resolved' => 'Resolved', 'Reopened' => 'Reopened') %>
  <%=  select_tag :priority, options_for_select('-- Priority --' => '', 'Minor' => 'Minor', 'Normal' => 'Normal', 'Major' => 'Major', 'Critical' => 'Critical') %>
  <%= submit_tag "Search", :name => nil, :date => nil, :status => nil, :priority => nil %>
  </p>
<% end %>
<div id="search_content">


  <%= render 'list' %>
  
<% else %>

<p class="content_error">There are no tickets yet. Create one <%= link_to "here", new_project_ticket_path(@project), :remote => true %>.</p>

<% end %>
</div>
