<div class="grid_12">

<h2><%= @ticket.name %></h2>

<ul id="content_nav">

  <li><%= link_to "Overview", "#", :id => "selected", :remote => true %></li>
  
  <li><%= link_to "Assign", "#", :id => "assign_ticket_button", %></li>
  
  <li><%= link_to "Log Time", "#", :id => "log_time_button", %></li>
  
  <li><%= link_to "Edit Ticket", "#", :remote => true %></li>
  
  <li><%= link_to "Back to Project", project_path(@ticket.project) %></li>
  
</ul>
</div>

<div class="clearfix"></div>


<div class="page_content ticket_main_content grid_5">

<p>
  <b>Name:</b>
  <%= @ticket.name %>
</p>

</div>


<div class="grid_6 right">

<div id="assign_ticket_form">

<h4>Assign Ticket</h4>

<hr/>

<%= form_for @ticket do |f| %>

  <p><%= f.label :assigned_to %>
  <%= f.select :assigned_to, options_from_collection_for_select(@ticket.project.users, 'id', 'full_name') %></p>
	
  <p class="submit-button right"><%= f.submit "Assign" %></p>
  
<% end %>

</div>

<div class="clear"></div>

<div id="log_time_form">

<h4>Time spent on Ticket</h4>

<hr/>

<%= form_for @ticket do |f| %>

  <p><%= f.label "Time: hh:mm:ss" %>
  <%= f.text_field :logged_time, :readonly => "readonly"%></p>
  <div id="slider-range-min"></div>
	
  <p class="submit-button right"><%= f.submit "Log" %></p>
  
<% end %>

</div>

</div>



<div class="clearfix"></div>

<div class="grid_12">

<%if not @comments.empty? %>
<br/>
<h3>Comments</h3> 
<%= link_to 'Write a comment', "#comment-form", :id => "add-comment", :class => 'links' if user_signed_in? %>
<br/>
<div class="comment-list">
  <%= render :partial => 'comments/list'%>   
</div>
<% else %>
<div class="comment-list">
  <% if user_signed_in? %>
  <p>No comments yet. <%= link_to 'Write a comment', "#comment-form", :id => "add-comment"%></p>
  <% end %>
</div>
<% end %>
  

<%= render :partial => 'comments/newform' %>   

</div>

