<ul id="extra_nav">

  <li><%= link_to 'Add Members', add_member_project_path(@project), :remote => true %></li>
  
  <li><%= link_to 'Remove Members', remove_member_project_path(@project), :remote => true %></li>
  
  
</ul>

<h3>Remove Project Members</h3>

<%= form_for @project, :url => members_update_project_path(@project), :remote => true do |f| %>

  <p>
		<% @users.each do |user| %>
			<% if @project.users.include?(user) and user.id != 1 %>
				<div>
					<%= check_box_tag "project[user_ids][]", user.id, @project.users.include?(user) %>
					<%= user.last_name %>
				</div>
			<% else %>
				<%= hidden_field_tag "project[user_ids][]", "" %>
			<% end %>
		<% end %>
	</p>

  <p class="submit-button right"><%= f.submit "Remove" %></p>

<% end %>
