<!DOCTYPE html>
<html>
<head>
  <title>Proyekto | Project Mangement System</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="nav_bg"></div>
  <div id="divider"></div>
  <div class="container_12">
    <div class="grid_12" id="header"> 
      <span id="logo">Proyekto<small>Project Management System</small></span>
      <% if user_signed_in? %>
        <%
          dashboard, user, role, project = ""
          case @selected
          when "dashboard" then dashboard = "selected"
          when "user" then user = "selected"
          when "role" then role = "selected"
          when "project" then project = "selected"
          end
        %>
      
      <ul id="nav">
        <li><%= link_to "Dashboard", root_path, :id => dashboard  %></li>
        <li><%= link_to "Users", users_path, :id => user  %></li>
        <!--<li><%= link_to "Roles", roles_path, :id => role  %></li>-->
        <li><%= link_to "Projects", projects_path, :id => project %></li>
        <li><%= link_to "Sign Out", destroy_user_session_path%></li>
        <% if not @projects.empty? %>
        <li>
          <select id="project-options-list">
            <option>Choose a Project</option>
            <% @projects.each do |p| %>
            <option value="<%= project_path(p)%>"><%= p.name %></option>
            <% end %>
          </select>  
        </li>
        <% end %>
      </ul>  
      <% else %>
      <ul id="nav">
        <li><%= link_to "Sign In", root_path%></li>
      </ul>
      <% end %>
    </div>
    <div id="loading" style="display:none"><img src="images/loading.gif"/></div>
    <%= yield %>
   
  </div>
<% if user_signed_in? %>
  <div id="whoami-container">
    <div id="whoami-content">
      <span><small>You are: </small><br/><%= link_to current_user.email, user_path(current_user)%></span>
    </div>
    <div id="whoami">
      <span>&raquo; whoami?</span>
    </div>
  </div>
  <% end %>












</body>
</html>
